@font-face {
    font-family: "Josefin Sans Bold";
    src: url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.eot");
    src: url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.svg#Josefin Sans Bold")format("svg");
}

@font-face {
    font-family: "Josefin Sans";
    src: url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.eot");
    src: url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/e314da2c0c4113fe575fa8a22cec8394.svg#Josefin Sans")format("svg");
}